*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    height: 8vh;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
}

.menu{/*aplica esto si es menor a 768px*/
    display: flex;
    
}

@media(max-width: 768px){
    .menu{/*aplica esto si es mayor a 768px*/
        background: #fff;
        width: 100%;
        height: 300px;
        position: fixed;
        top: 8vh;
        right: 0%;
        flex-direction: column;
        align-items: center;
        line-height: 100px;
        transition: all 0.5s ease;
        transform: translateX(-100%);
    }
    .menu li:first-child{
        border-top: 1px solid #e1e1e1;
    }
}
.menu li{
    list-style: none;
    margin: 0 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu li:hover{
    background-color: #e1e1e1;
    cursor: pointer;
}

.menu li:hover a{
    color: black;
    align-items: center;
}

@media(min-width: 768px){
    .menu li:hover{
        background-color: transparent;
    }    
}

.menu-i{
    text-decoration: none;
    /*color: #9b9b9b;*/
    color: #646262;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu-i:hover{
    color: #000;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(fondo/fondo.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.menu-btn{
    display: block;
}

@media(min-width: 768px){
    .menu-btn{
        display: none;
    }
}

.menu-btn img{
    width: 25px;
    cursor: pointer;
}

.menu.active{
    transform: translateY(0);
}