/*custom properties -> es una variable*/

:root {
    --primario: #083ba8;
    /* definiendo un color primario*/
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;
    /* siempre se inicia asi*/
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*hace que 1rem sea igual a 10px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    /*16px para todos*/
    line-height: 1.8;
    /*interlineado entre los parrafos*/
}

.contenedor {
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

header {
    min-height: 10vh;
    max-height: 10vh;
    background-color: var(--grisClaro);
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 8rem;
}

@media(min-width: 768px) {
    .header-main {
        margin: 0 auto;
    }
}

.header-logo img {
    display: flex;
    width: 45px;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px) {
    /* de 0 a 768px aplica esto*/
    .menu-nav {
        background: var(--grisClaro);
        width: 100%;
        height: calc(100% - 9vh);
        right: 0;
        position: absolute;
        top: 9.5vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        line-height: 100px;
        transition: all 0.5s ease;
    }
    .menu-nav.active {
        transform: translateX(-100%);
    }
    .menu-item a:hover {
        background: var(--gris);
        width: 100%;
        color: var(--blanco);
    }
}

.menu-item {
    list-style: none;
    margin: 0 1.5rem;
    width: 100%;
    text-align: center;
}

.menu-item a {
    display: block;
    color: var(--negro);
    text-decoration: none;
    font-weight: bold;
}

@media(min-width: 769px) {
    .menu-item a {
        background: none;
        color: var(--negro);
    }
}

.buttom-menu {
    display: flex;
    cursor: pointer;
}

@media(min-width: 769px) {
    .buttom-menu {
        display: none;
    }
}


/***************** Tecnologia ****************************************/

.tecnologias {
    height: 80vh;
}


/***************** contenido2 *************************/

.contenido1 {
    margin: 5rem 0;
    text-align: center;
}

.contenido1 h1 {
    margin-bottom: 2rem;
}

.contenido2 {
    display: grid;
    column-gap: 1rem;
    margin: 0 4rem 2rem 4rem;
}

@media(min-width: 768px) {
    .contenido2 {
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    }
}

.card {
    display: grid;
    text-align: justify;
    margin: 1rem;
    text-align: center;
}

.card .card-izq {
    margin-top: 2rem;
}

.card-principal h3 {
    margin-bottom: 2rem;
}

@media(min-width: 412px) {
    .card {
        grid-template-rows: unset;
        grid-template-columns: 20% 80%;
        grid-auto-flow: dense;
        text-align: start;
    }
    .card .card-izq {
        margin-top: 0;
    }
    .card-principal h3 {
        margin-bottom: 0;
    }
    .contenido1 {
        text-align: start;
    }
}

.logros {
    display: grid;
}

.contenedor-logro h1 {
    text-align: center;
    font-size: 3.2rem;
}

@media(min-width: 768px) {
    .logros {
        grid-template-columns: repeat(4, 1fr);
    }
}

.logro {
    text-align: center;
}

.contenedor-logro {
    background-color: rgba(204, 202, 202, 0.404);
    margin: 3rem 0;
    padding-bottom: 2rem;
}

.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pagina main {
    flex: 1;
}

.calculadora {
    margin-bottom: 4rem;
}

.form {
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 80px 200px;
    row-gap: 1rem;
}

.submit {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
}

input[type="text"] {
    padding: 1rem;
}

.respuesta {
    margin: 0 2rem;
}

.mis-proyectos {
    border-bottom: 1px solid #eee;
    text-align: center;
}

@media(min-width: 768px) {
    .mis-proyectos {
        text-align: start;
    }
}

.menu-sigueme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sigueme {
    display: flex;
}

.sigueme a {
    background: transparent;
}